{% extends "::base.html.twig"  %}
{% block content %}
{% block title %}
	Plages horaires -> Cr&eacute;er une plage horaire
{% endblock %}

<form action="{{ path('plagehoraire_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}

{% block menu_action %}
<ul class="record_actions">
    <li>
        <a href="{{ path('plagehoraire') }}">
            Revenir &agrave; la liste
        </a>
    </li>
</ul>
{% endblock %}