{% extends "PHPMBundle:Default:layout.html.twig"  %}
{% set pageTitle = 'Accueil' %}

{% block actions %}

{{ parent() }}
{% block newAction %}
{% endblock %}
{% block indexAction %}
{% endblock %}
{% block editAction %}
{% endblock %}
{% block deleteAction %}
{% endblock %}
{% block showAction %}
{% endblock %}

{% endblock %}


{% block content %}
<p>
PHPlanningMaker, gestion des inscriptions Forum.
<br/>
Veuillez vous connecter en cliquant sur "Login".
</p>

{% endblock %}

