{% extends "PHPMBundle:Default:layout.html.twig"  %}
{% set pageTitle = 'Accueil' %}

{% block actions %}

{{ parent() }}
{% block newAction %}
{% endblock %}
{% block indexAction %}
{% endblock %}
{% block editAction %}
{% endblock %}
{% block deleteAction %}
{% endblock %}
{% block showAction %}
{% endblock %}

{% endblock %}


{% block content %}

<div class="hero-unit">
	<h1>PHPlanningMaker</h1>
	<p>la Gestion des Ressources Humaines 2.0</p>
	{% if is_granted('ROLE_VISITOR') %}
	{% else %}
		<p>
			<a class="btn btn-primary btn-large" href="{{ url('login') }}">Se connecter</a>
		</p>
	{% endif %}
</div>

{% endblock %}

