{% extends "PHPMBundle:Default:layout.html.twig"  %}
{% set pageTitle = 'Accueil' %}


{% block content %}

<h2>Titre du bloc</h2>
        		
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed sapien eu risus rutrum congue a eget risus. Fusce vestibulum posuere mi vel scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sagittis sapien sed risus convallis venenatis. Aliquam ac orci hendrerit magna mollis posuere. Nulla convallis facilisis elementum. Vivamus vitae libero ac nibh varius lobortis eu id diam. Praesent vulputate lorem at diam lacinia suscipit. Fusce luctus laoreet orci vel porttitor. Quisque luctus, libero sit amet feugiat commodo, velit augue molestie dolor, at venenatis mauris odio at metus. Nam lorem eros, pretium id dictum sed, suscipit sit amet nibh. In id massa sed nisi lobortis varius et vel ante. Nullam vel erat diam, a hendrerit erat.
<br /><br />
Cras hendrerit lacus non sem tempus a imperdiet lectus laoreet. Suspendisse scelerisque condimentum neque ac tempus. Morbi posuere aliquet imperdiet. Cras in arcu lorem, eget dignissim erat. Aenean mollis orci a libero malesuada tristique viverra eu eros. Sed at elit mi. Suspendisse tempus, ante sit amet vulputate ullamcorper, libero ligula eleifend diam, eget faucibus leo urna nec odio. Donec est tortor, rutrum vel molestie vitae, suscipit ut tortor. Pellentesque vitae purus augue. Etiam tortor augue, vehicula mattis dapibus at, vestibulum vestibulum nulla. Etiam sem leo, lacinia in ornare ac, bibendum in arcu.


{% endblock %}

