{% extends "PHPMBundle:Default:layout.html.twig"  %}
{% set pageTitle = 'Accueil' %}

{% block actions %}

{{ parent() }}
{% block newAction %}
{% endblock %}
{% block indexAction %}
{% endblock %}
{% block editAction %}
{% endblock %}
{% block deleteAction %}
{% endblock %}
{% block showAction %}
{% endblock %}

{% endblock %}


{% block content %}

<p>
	<strong>PHPlanningMaker</strong>, la Gestion des Ressources Humaines 2.0.
	<br/>
	Veuillez vous connecter pour continuer.
</p>

{% endblock %}

