<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>PHPM | Erreur</title>
  <meta charset="utf-8">

  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <!-- We're linkin the css files here -->
  <link rel="stylesheet" href="error/style.css">
  <!-- We're linkin the js files here -->
  <script type="text/javascript" src="error/jquery.js"></script>
  <script type="text/javascript" src="error/common.js"></script>
  <script type="text/javascript" src="error/jQueryRotate.txt"></script>

</head>

<body>
    <!-- Showing the image clouds, stars, and moon -->
    <div style="background-position: -683px 0px;" id="clouds"></div>
    <div style="background-position: 0px -683px;" id="stars"></div>
    <div id="moon"></div>

    <!-- BEGIN CONTENT -->
    <div class="wrap_content">
      <h1>404</h1>
      <h2>Not Found</h2><br>
      <p>Il est impossible de trouver ce que vous voulez.</p>
      <p>{{ status_text }}</p>
      <p>Essayez de retourner à la <a href="/">page principale</a> et recommencez.</p>
    </div><!-- End div content -->
    <!-- END CONTENT -->

    <!-- BEGIN BOTTOM -->
    <div class="wrap_bottom">
      <div style="left: 15.6971%; opacity: 1; transform: rotate(-22.5deg); transform-origin: 50% 50% 0px;" id="tumbleweed"></div>
      <div class="image_wrapper">
        <div id="house"></div>
      </div>
    </div><!-- End div content -->
    <!-- END CONTENT -->

    <!-- BEGIN FOOTER -->
    <div class="wrap_footer">
      <div class="content_footer">
        <div class="left">C'est pas normal ? <a href="mailto:{{ admin_email }}"><img src="error/bug.png"> RAPPORTER UN BUG</a></div>
        <div class="right">&copy; PHPM</div>
      </div>
    </div><!-- End div footer -->
    <!-- END FOOTER -->


</body></html>