{% extends "AssoMakerBaseBundle::layout.html.twig"  %}

{% block content %}


    <div class="">
        <h3>Login</h3>
        <div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-error">
                {{ flashMessage }}
            </div>
            {% endfor %}
            <p>Pour se connecter, choisi l'un des services ci-dessous :</p>
        </div>
        <div class="span8">
            {% for owner in hwi_oauth_resource_owners() %}
                <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
            {% endfor %}
        </div>
    </div>



{% endblock %}

