{% extends "AssoMakerBaseBundle::layout.html.twig"  %}

{% block content %}


<div class="hero-unit">
	{{ phpm_contenu_page_principale |raw}}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
            <p>
                <a class="btn btn-primary btn-large" href="{{ url('base_accueil') }}">Se connecter</a>
            </p>
        </div>



{% endblock %}

