/.settings/*
/web/bundles/
/web/css
/web/js
/web/images
/web/lib
/web/.htaccess

/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/bundles/


src/PHPM/Bundle/Controller/TestController.php

*~

# Metadata
.metadata
.DS_Store

# Aptana-specific
.project

.htaccess
.buildpath

composer.phar
