/.settings/*
/web/bundles/
/web/css
/web/js
/web/images
/web/lib/*
/web/.htaccess
/web/up

/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/bundles/


src/AssoMaker/BaseBundle/Controller/TestController.php

*~

# Metadata
.metadata
.DS_Store

# IDE-specific
.project
.idea/*

.htaccess
.buildpath

composer.phar
composer.lock
