{% extends "::base.html.twig"  %}

{% block title %}
	Confiance -> Cr&eacute;er un niveau de confiance
{% endblock %}

{% block content %}
<form action="{{ path('confiance_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}

{% block menu_action %}
<ul class="record_actions">
    <li>
        <a href="{{ path('confiance') }}">
             Revenir &agrave; la liste
        </a>
    </li>
</ul>
{% endblock %}
