{% extends 'form_div_layout.html.twig' %}

{% block field_row %}
    <div class="control-group{% if errors|length > 0 %} error{% endif %}">
        {{ form_label(form) }}
        <div class="controls">
            {{ form_widget(form) }}
                <span class="help-inline">
                    
                    {% if errors|length > 0 %}
                        {{ form_errors(form) }}
                    {% endif %}
                    {% if help is defined %} - {{ help }}{% endif %}</span>
            
        </div>
</div>
        
        
        

{% endblock field_row %}