{% if entities %}

<table >
    <thead>
        <tr>
            <th>Nom</th>
            <th>Groupe de Tâches</th>
            <th>Équipe</th>
            <th>Responsable</th>
            <th>Dernier Commentaire</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        
            <td>{{ entitiesMacro.tache(entity) }}</td>
            <td>{{ entitiesMacro.groupeTache(entity.groupeTache) }}</td>
            <td>{{ entity.groupeTache.equipe.nom }}</td>
            <td></td>
            <td>{{ entitiesMacro.tacheCom(entity) }}</td>
            
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
