{% extends "::base.html.twig"  %}
{% import "::macro_bouton_edit.html.twig" as bouton_edit %}

{% block title %}
	T&acirc;ches -> Liste des t&acirc;ches
{% endblock %}

{% block content %}
   {% include 'PHPMBundle:Tache:afficheListe.html.twig' with {'entities': entities} %}
{% endblock %}

{% block menu_action %}
<ul>
    <li>
        <a href="{{ path('tache_new') }}">
            Cr&eacute;er une nouvelle t&acirc;che :
        </a>
    </li>
</ul>
{% endblock %}
