{% extends "::base.html.twig"  %}
{% block content %}
{% block title %}
	T&acirc;ches -> Cr&eacute;er une nouvelle t&acirc;che
{% endblock %}

<form action="{{ path('tache_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Cr&eacute;er la t&acirc;che</button>
    </p>
</form>
{% endblock %}

{% block menu_action %}
<ul class="record_actions">
    <li>
        <a href="{{ path('tache') }}">
            Revenir &agrave; la liste de t&acirc;ches
        </a>
    </li>
</ul>
{% endblock %}
