{% extends "::base.html.twig"  %}
{% block content %}
<h1>Tache creation</h1>

<form action="{{ path('tache_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Cr&eacute;une t&Acirc;che</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tache') }}">
            Revenir &agrave; la liste de t&acirc;ches
        </a>
    </li>
</ul>
{% endblock %}
