{% extends "PHPMBundle:Tache:layout.html.twig"  %}
{% set pageTitle = 'Nouvelle Tâche' %}
{% use "PHPMBundle::new.html.twig" %}

{% block content %}
<form action="{{ path('tache_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Cr&eacute;er la t&acirc;che</button>
    </p>
</form>
{% endblock %}
