{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = entity.nom %}

{% block content %}

<form class="form-horizontal" action="{{ path('sponso_projet_new') }}" method="post" {{ form_enctype(form) }}>
    <div class="row-fluid">
    <h2>Nouveau Projet</h2>
    </div> 
    <div class="row-fluid">
{#        <div class="span6">
            <h3>Contact de l'Entreprise</h3>
            {{ form_widget(form.contact) }}
            	        
        </div>#}
        <div class="span6">
            <h3>Informations sur le Projet</h3>
            {{ form_widget(form) }}
            	        
        </div>
    </div>	
    
    <div class="form-fluid">
			<div class="form-actions">
			    <button class="btn btn-primary" type="submit">Enregistrer les modifications</button>
			</div>
    </div>       
</form>

{% endblock %}
