{% extends "::base.html.twig"  %}

{% block title %}
Affectation T&acirc;ches -> Orga
{% endblock %}

{% block content %}
	<div class="messages" id="messages"><!-- ici arriveront les messages, alert --></div>
	
	<div class="sidebar_orga" id ="sidebar_orga"></div>
	
	<div class="calendar" id="calendar"></div>
	
	<div class="sidebar_taches" id="sidebar_taches"></div>

{% endblock %}

{% block menu_actions %}
	<!-- pas de menu action ! -->
{% endblock %}
