{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Edition d\'un Organisateur' %}
{% use "PHPMBundle::edit.html.twig" %}


{% block content %}
<form class="form-horizontal" action="{{ path('orga_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn" type="submit">Valider</button>
    </p>
</form>
{% endblock %}

{% block actions %}
{% if is_granted('ROLE_ADMIN') %}
{{ parent() }}
{% else %}
{% endif %}
{% endblock %}