{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Import' %}

{% block editAction %}
{% endblock %}

{% block deleteAction %}
{% endblock %}

{% block newAction %}
{% endblock %}

{% block content %}
{% if not entities %}

<form method="POST" >    
<input type="text" name="pathJson" value="http://127.0.0.1:8888/inscriptionOrgas.json" /> Adresse du fichiers des orgas à ajouter à la base </td>
<input type="Submit" value="Valider">

{% else %}
<p>Les autres orgas ont &eacute;t&eacute; correctement import&eacute; dans la base <br />
Veuillez les valider pour pouvoir les affecter.<br />
Ci dessous les Orga qui n'ont pas pu &ecirc;tre ins&eacute;r&eacute;s : <br />
</p> 

{% include 'PHPMBundle:Orga:importList.html.twig'  %}
{% endif%}

{% endblock %}