{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Liste des Organisateurs' %}
{% use "PHPMBundle::index.html.twig" %}


{% block content %}
{% include 'PHPMBundle:Orga:afficheListe.html.twig' %}
{% endblock %}

{% block actions %}
{{ parent() }}
<li>
    <a href="{{ path('orga_import') }}">
    Importation
    </a>
</li>
<li>
    <a href="{{ path('orga_validation') }}">
    Validation
    </a>
</li>
<li>
    <a href="{{ path('orga_plannings_impression') }}" target="_blank">
    Impression des plannings
    </a>
</li>
{% endblock %}


