{% extends "::base.html.twig"  %}
{% block content %}
<h1>Orga creation</h1>

<form action="{{ path('orga_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}

{% block menu_action %}
<ul class="record_actions">
    <li>
        <a href="{{ path('orga') }}">
            Revenir &agrave; la liste
        </a>
    </li>
</ul>
{% endblock %}