{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Création d\'un Organisateur' %}
{% use "PHPMBundle::new.html.twig" %}

{% block content %}
<form action="{{ path('orga_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Valider</button>
    </p>
</form>
{% endblock %}