{% extends "::base.html.twig"  %}

{% block title %}
Orga creation
{% endblock %}




{% block content %}


<form action="{{ path('orga_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('orga') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}