{% extends "PHPMBundle:Orga:layout.html.twig"  %}
{% set pageTitle = 'Import' %}

{% block editAction %}
{% endblock %}

{% block deleteAction %}
{% endblock %}

{% block newAction %}
{% endblock %}

{% block content %}

{% if entities%}

<form method="POST" >
    {% include 'PHPMBundle:Orga:validationList.html.twig'  %}
    

    <input type="Submit" value="Valider" />
    </form> 
   
	<p>	Veuillez les valider pour pouvoir les affecter. </p>
{% else%}
<p> Aucun orga &agrave; ajouter ! </p>

	
{% endif %}

    
{% endblock %}