{% extends "AssoMakerBaseBundle::layout.html.twig"  %}

{% block content %}
<script type="text/javascript">


function Ctrl($scope){

	
}
</script>

<div class="row-fluid"  ng-app ng-controller="Ctrl">
    <div class="span12">


    </div>
     
</div>

{% endblock %}