{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = "Création de Pass Sécu" %}

{% block content %}

<form class="form-horizontal" action="{{ path('pass_pass_new',{"animId":app.request.get('animId')}) }}" method="post" {{ form_enctype(form) }}>
    <div class="row-fluid">

        <div class="span6">
            {{ form_widget(form) }}
            	        
        </div>
    </div>	
    
    <div class="form-fluid">
			<div class="form-actions">
			    <button class="btn btn-primary" type="submit">Enregistrer les modifications</button>
			</div>
    </div>       
</form>

{% endblock %}
