{% extends "AssoMakerPHPMBundle::layout.html.twig"  %}
{% set pageTitle = 'Edition Mission' %}
{% use "AssoMakerPHPMBundle::edit.html.twig" %}

{% block content %}
<form action="{{ path('mission_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Valider</button>
    </p>
</form>
{% endblock %}