<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} - PHPlanningMaker</title>

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link href="{{ asset('/css/desktop.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <div id="header" >
        
        
        <h2>{{ block('title') }}</h2>
        
        </div>
        
        
       <!-- {% block sidebar %}<div id="sidebar"></div>{% endblock %} -->
        <div id="content">{% block content %}{% endblock %}</div>
        <div class="clear"></div>
        <div id="footer"></div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
