[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="phpm"
    database_user="phpm"
    database_password="phpm"
    mailer_transport=""
    mailer_host=""
    mailer_user=""
    mailer_password=""
    locale="en"
    secret=""
    admin_email=""
    kernel.logs_dir="/var/log/symfony"
    node_bin="/usr/bin/node"
    node_paths=/usr/lib/node/
    