[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port=""
    database_name="phpm"
    database_user="phpm"
    database_password="phpm"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="c475878b7e71a1330809d1b58a6a6c3a3ee6c621"
