parameters:
    database_driver:    "pdo_mysql"
    database_host:    "localhost"
    database_port:    ~
    database_name:    "phpm"
    database_user:    "phpm"
    database_password:    "password"
    mailer_transport:    "gmail"
    mailer_host:    ~
    mailer_user:    ~
    mailer_password:    ~
    locale:    "en"
    secret:    ""
    admin_email:    ""
    node_bin:    "/usr/local/bin/node"
    node_paths:
         - /usr/local/lib/node_modules
    
