{% extends "::base.html.twig"  %}

{% block title %}
	Cat&eacute;gories -> Cr&eacute;er une cat&eacute;gorie
{% endblock %}

{% block content %}
<form action="{{ path('categorie_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}

{% block menu_action %}
<ul class="record_actions">
    <li>
        <a href="{{ path('categorie') }}">
            Revenir &agrave; la liste de cat&eacute;gories
        </a>
    </li>
</ul>
{% endblock %}
