{% extends "::base.html.twig"  %}

{% block title %}
	cr&eacute;neaux -> Liste des cr&eacute;neaux disponibles
{% endblock %}

{% block content %}

{% include 'PHPMBundle:Creneau:afficheListe.html.twig' with {'entities': entities} %}

{% endblock %}


{% block menu_action %}
<ul>
    <li>
        <a href="{{ path('creneau_new') }}">
            Cr&eacute;er un nouveau cr&eacute;neau
        </a>
    </li>
</ul>
{% endblock %}
