{% extends "::base.html.twig"  %}
{% block content %}
{% block title %}
	Cr&eacute;neaux -> Cr&eacute;er un cr&eacute;neau
{% endblock %}

<form action="{{ path('creneau_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}

{% block menu_action %}
<ul class="record_actions">
    <li>
        <a href="{{ path('creneau') }}">
            Revenir &agrave; la liste
        </a>
    </li>
</ul>
{% endblock %}