{% extends "PHPMBundle:Creneau:layout.html.twig"  %}
{% set pageTitle = 'Nouveau Créneau' %}
{% use "PHPMBundle::new.html.twig" %}

{% block content %}
<form action="{{ path('creneau_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}