services:
    config.extension:
       class:      AssoMaker\BaseBundle\Extension\ConfigExtension
       arguments: [@doctrine]
       tags:
            -  { name: twig.extension }
    user.extension:
       class:      AssoMaker\BaseBundle\Extension\UserExtension
       arguments: [@doctrine]
       tags:
            -  { name: twig.extension }
    strings.extension:
       class:      AssoMaker\BaseBundle\Extension\StringsExtension
       arguments: [@doctrine]
       tags:
            -  { name: twig.extension }
    oauth.user_provider:
       class:      AssoMaker\BaseBundle\OAuth\UserProvider
       arguments: ["@fos_user.user_manager",{google: google_id}]
    form.type.orga:
        class: AssoMaker\BaseBundle\Form\OrgaUserType
        arguments: ["@security.context","@config.extension"]
        tags:
            - { name: form.type }
    form.type.registration:
        class: AssoMaker\BaseBundle\Form\RegistrationUserType
        arguments: ["@security.context","@config.extension"]
        tags:
            - { name: form.type }