{% block field_row %}
{% spaceless %}
<div class="control-group{% if form_errors(form)|length > 0 %} error{% endif %}">
{% if form_label(form)|length > 0 %}
<label class="control-label">{{ form_label(form, label|default(null)) }}</label>
{% endif %}
<div class="controls">
{{ form_widget(form) }}
<span class="help-inline" style="color:red">{{ form_errors(form) }}</span>
</div>
</div>
{% endspaceless %}
{% endblock field_row %}