{% extends "AssoMakerBaseBundle:Confiance:layout.html.twig"  %}
{% set pageTitle = 'Edition Confiance' %}
{% use "AssoMakerPHPMBundle::edit.html.twig" %}

{% block content %}
<form action="{{ path('confiance_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Valider</button>
    </p>
</form>
{% endblock %}
