{% extends "AssoMakerBaseBundle:Confiance:layout.html.twig"  %}
{% set pageTitle = 'Détails des niveaux' %}
{% use "AssoMakerPHPMBundle::show.html.twig" %}

{% block content %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ entity.nom }}</td>
        </tr>
        <tr>
            <th>Valeur</th>
            <td>{{ entity.valeur }}</td>
        </tr>
        <tr>
            <th>Couleur</th>
            <td>{{ entity.couleur }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
