
    		<div class="btn-toolbar">
        		<div class="btn-group">
                  <a ng-click="mode=ModeEnum.CONSOS" class="btn" ng:class="{true:'active', false:''}[mode==ModeEnum.CONSOS]" >Consommations Standard à {{ prixConso | number:2}}€</a>
                  <a ng-click="mode=ModeEnum.ADDSUB" class="btn" ng:class="{true:'active', false:''}[mode==ModeEnum.ADDSUB]" >Ajouter/Retirer de l'argent</a>
                </div>
                <div class="btn-group">
                  <a href="{{printURL}}" class="btn" target="_blank" ><i class="icon-print"></i> Imprimer</a>
                </div>
            </div>

            <div ng:show="mode==ModeEnum.ADDSUB">
            <label>Libellé de l'opération</label>
            <input ng-model="operation" type="text" placeholder="Remise d'espèces...">
            </div>
    	</div>
    	<div class="row-fluid">
    		<table class="table table-condensed table-striped">
    		    <thead>
    		        <tr>
    		        	<th>Orga</th>
    		            <th>Solde</th>
    		            <th ng-show="mode==ModeEnum.CONSOS">Nombre de Consommations</th>
    		            <th ng-show="mode==ModeEnum.ADDSUB" >Ajouter/retirer</th>
    		            <th>Nouveau Solde</th>
    	
    		        </tr>
    		    </thead>
    		    <tbody>
    		       
    		        <tr ng-repeat="(key,orga) in orgas">
    		        	<td><a href="#/transactions/{{ orga.id }}">{{ orga.name }}</a></td>
    		            <td>{{ orga.balance  | number:2}}€</td>
    		            <td><input type="number" ng-model="alter[orga.id]" ></td>
    		            <td>{{ newBalance(key)  | number:2}}€</td>
    	
    		        </tr>
    		        
    		    </tbody>
    		   	<tfoot>
    		        <tr>
    		        	<th>Total des Comptes Perso</th>
    		            <th>{{ totalCP() | number:2}}€</th>
    		            <th></th>
    		            <th>{{ newTotalCP() | number:2}}€</th>
    		        </tr>
    		   </tfoot>
    		</table>
    </div>
  	<div class="form-actions row-fluid">
	     <a href="" ng-click="post()" class="btn btn-primary">Enregistrer les modifications</a>
	</div>
