 	<div class="row-fluid">
 	<form class="form-search">
 	{{search.orgaId}}
 	<label>Rechercher un orga</label>
    	<select ng-model="search.orgaId" ng-options="item.id as item.name for item in orgas">
    	</select>
	</form>
	<table class="table table-condensed table-striped">
	    <thead>
	        <tr>
	        	<th>Date</th>
	        	<th>Orga</th>
	        	<th>Montant</th>
	        	<th>Commentaire</th>


	        </tr>
	    </thead>
	    <tbody>
	       
	        <tr ng-repeat="(key,transaction) in transactions | filter:filterById">
	        	<td>{{ transaction.commitDate }}</td>
	        	<td>{{ transaction.orga }}</td>
	        	<td>{{ transaction.amount }}</td>
	        	<td>{{ transaction.comment }}</td>
	        </tr>
	        
	    </tbody>
	</table>
 </div>

