{% extends "AssoMakerPHPMBundle:GroupeTache:layout.html.twig"  %}
{% set pageTitle = 'Nouveau Groupe de Tâches' %}
{% use "AssoMakerPHPMBundle::new.html.twig" %}
{% form_theme form _self %}





{% block content %}

<form action="{{ path('groupetache_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}
