{% extends "AssoMakerPHPMBundle:Default:layout.html.twig"  %}
{% set pageTitle = 'Login' %}

{% block pageHeader %}
{% endblock %}


{% block content %}
<div class="row-fluid">
Erreur : Vous n'êtes pas inscrit dans le système.
</div>
{% endblock %}

