{% extends "AssoMakerBaseBundle::layout.html.twig"  %}

{% macro navBarItem(nom,route,params) %}
{% if params !="" %}
<li{% if route == app.request.attributes.get('_route') %} class="active" {% endif %}><a href="{{ path(route,params) }}">{{ nom }}</a></li>
{% else %}
<li{% if route == app.request.attributes.get('_route') %} class="active" {% endif %}><a href="{{ path(route) }}">{{ nom }}</a></li>
{% endif %}
{% endmacro %}



