{% extends "PHPMBundle:DisponibiliteInscription:layout.html.twig"  %}
{% set pageTitle = 'Edition DI' %}
{% use "PHPMBundle::edit.html.twig" %}

{% block content %}
<form action="{{ path('disponibiliteinscription_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>
{% endblock %}


