{% block liste %}
<table>
{% block table %}
	<thead>
		<tr>
		{% block thead %}
		{% endblock %}
		</tr>
		
	</thead>
	
	<tfoot>
		<tr>
		{% block tfoot %}
		{{ block('thead') }}
		{% endblock %}
		</tr>
	</tfoot>
	
	<tbody>
		
		{%  for entity in entities %}
		<tr>
		{% block tbody %}
		{% endblock %}
		</tr>
		{%   endfor %}
		
	</tbody>
{% endblock %}
</table>

{% endblock %}
