{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = 'Liste des animations' %}

{% block content %}
<div class="row-fluid">
    <a class="btn btn-success" href="{{ path('anim_animation_new') }}"><i class="icon-plus"></i> Nouvelle Animation</a>


</div>
{% endblock %}