{% extends "AssoMakerBaseBundle::layout.html.twig"  %}
{% set pageTitle = 'Carte des animations' %}

{% block content %}
<script type="text/javascript">


    function Ctrl($scope) {
    }


    </script>

    <div class="row-fluid"  ng-app="app" ng-controller="Ctrl">
        <p ui-scrollfix>They see me scrollin...</p>
    </div>

{% endblock %}