{% extends "PHPMBundle:Config:layout.html.twig"  %}
{% set pageTitle = 'Configuration' %}

{% block editAction %}
{% endblock %}

{% block deleteAction %}
{% endblock %}

{% block newAction %}
{% endblock %}

{% block content %}

{% endblock %}

{% block actions %}
{{ parent() }}
<li>
    <a href="{{ path('config_initiale') }}">
    Configuration Initiale
    </a>
</li>
<li>
    <a href="{{ path('config_manif') }}">
    Configuration de la manifestation
    </a>
</li>

{% endblock %}