{% extends "::base.html.twig"  %}

{% block title %}
	Configuration -> Accueil
{% endblock %}

{% block content %}

{% endblock %}

{% block menu_action %}
<ul>
    <li>
        <a href="{{ path('orga_import') }}">
            Import d'orgas
        </a>
    </li>
    <li>
        <a href="{{ path('orga_validation') }}">
            Validation d'orgas
        </a>
   </li>
</ul>
{% endblock %}
