{% extends "PHPMBundle::layout.html.twig"  %}

{% set sectionTitle = 'Config' %}
{% set entityName = 'Config' %}
{% set indexRoute = 'config' %}
{% set newRoute = 'config_new' %}
{% set editRoute = 'config_edit' %}
{% set deleteRoute = 'config_delete' %}

{% set indexActionLabel = 'Liste des Config' %}
{% set newActionLabel = 'Créer Config' %}
{% set editActionLabel = 'Éditer Config' %}
{% set deleteActionLabel = 'Supprimer Config' %}


{% block actions %}
<li>
    <a href="{{ path('config_initiale') }}">
    Configuration Initiale
    </a>
</li>
<li>
    <a href="{{ path('config_manif') }}">
    Configuration de la manifestation
    </a>
</li>
{% endblock %}