{% extends "PHPMBundle:Config:layout.html.twig"  %}
{% set pageTitle = 'Configuration de la Manifestation' %}

{% block content %}

{% endblock %}

{% extends "::base.html.twig"  %}

{% block content %}
<form action="{{ path('config_manif') }}" method="post" {{ form_enctype(form) }}>
                {% for tag in form.configItems %}
        <li>{{ form_row(tag) }}</li>
         
        
                {% endfor %}
          
        <li>{{ form_row(form.user) }}</li>
        

    <p>
        <button type="submit">Enregistrer la configuration</button>
    </p>
</form>

{% endblock %}