{% extends "PHPMBundle:Config:layout.html.twig"  %}
{% set pageTitle = 'Configuration de la Manifestation' %}


{% block content %}
<form action="{{ path('config_manif') }}" method="post" {{ form_enctype(form) }}>
                {% for tag in form.configItems %}
        {{ form_row(tag) }}
         
        
                {% endfor %}
          
        
        

    <p>
        <button type="submit">Enregistrer la configuration</button>
    </p>
</form>

{% endblock %}

{% block actions %}

{{ parent() }}
{% block newAction %}
{% endblock %}
{% block editAction %}
{% endblock %}
{% block deleteAction %}
{% endblock %}

{% endblock %}