{% extends "AssoMakerBaseBundle:Config:layout.html.twig"  %}
{% set pageTitle = 'Configuration Initiale' %}


{% block content %}

	<script>
	$(function() {
		$( "#dialog" ).dialog({
			
			modal: true
		});
	
	});
	</script>
<div id="dialog" title="Réinitialisation">
<div class="alert">Attention : Toutes les données du logiciel seront perdues! </div>
	
	<p class="">Une fois la réinitialisation terminée, connectez vous au logiciel avec les identifiants suivants : </p>
	<ul>
	<li><b>Login : </b> orga</li>
	<li><b>Mot de passe : </b> orga</li>
	</ul>
	<p class="validateTips">Veuillez taper #1337! dans le champ de confirmation</p>
	<form  method="post">
	<fieldset>
		<label for="reinitconfirm">Confirmation</label>
		<input type="text" name="reinitconfirm" id="confirm" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>

</div>
{% endblock %}