<h1>Bonsoir {{ orga.prenom }} !</h1>
<h4>Le solde actuel de ton compte perso est de <i style="color:red;">{{ soldeCP |number_format(2)}} €</i>.</h4>
<p>
Tu es donc invité à t'adresser au Secrétaire Général dans les plus brefs délais afin de remédier à ce déficit.<br/>
</p>
<p>
Souviens-toi, une conso = un bâton !<br/>
Mais pour pouvoir fonctionner, il te faut un compte positif, parce que pas d'argent sur ton compte = compte négatif = ton nom en rouge sur la liste = des désavantages notoires = pourrissage sur la place publique = viol de toute ta famille et de ton chien = poursuites judiciaires = frais d'avocats = moins d'argent = compte perso négatif !<br/>
Tu vois c'est un putain de cercle vicieux alors viens rajouter des sous à ton compte perso avant qu'une association de malfaiteurs vienne faire sauter ta boîte aux lettres à l'aide de barres de fer et/ou potions d'acide nitrique !<br/>
</p>
<p>
</p>
Rôtie
<p>
--<br/>
Dina Baiche<br/>
06 21 39 17 69<br/>
</p>


