/*
 * Feuille de style spécifique à la vue Affectation
 */

/*
 * Override
 */
body {
	background: #fff;
}
.content {
	padding: 0;
	width: 100%;
}

/*
 * Barre latérale gauche
 * Avec la liste des orgas
 */
.sidebar_orga {
	float: left;
	width: 19%;
	height: 100%;
	border-right: 1px solid #003366;
	margin-right: 1%;
}

/*
 * Vue agenda
 * au milieu de la fenêtre
 */
.calendar {
	float: left;
	width: 60%;
	height: 100%;
}

/*
 * Barre latérale droite
 * Avec la liste des tâches
 */
.sidebar_tache {
	float: left;
	width: 19%;
	height: 100%;
	border-left: 1px solid #003366;
	margin-left: 1%;
}
