/*
 * Feuille de style spécifique à la vue Affectation
 */

// taille d'une heure, défini tout le layout
@heightHeure: 40px;

// ça va être très chiant, mais tous les éléments suivants doivent avoir leur taille ajustée dynamiquement
// ce qui suit sont donc des valeurs "par défaut"
@htmlHeight: 300px; // contenu + header ; taille par défaut
@contentHeight: @htmlHeight - 79px; // taille du reste du contenu
@menuHeight: 81px; // ne pas oublier la margin et le padding
@clientHeight: @contentHeight - @menuHeight - 3px; // le restant de la page
@joursHeight: 24 * @heightHeure;

/*
 * Mixins
 */
// magie qui permet de changer le modèle de boîte standart
// le padding et la border sont inclus DANS la boîte (width x height)
.border-box {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/*
 * Override
 */
html {
  height: 100%;
}
body {
	background: #fff;
	height: 100%; // normalement déjà mis dans la feuille de style générale
}
.content {
	padding: 0;
	width: 100%;
	height: @contentHeight; // 100% de ce qui est disponible
	font-size: 14px; // on la veut un peu plus grosse qu'ailleurs
}
.menu_action {
	display: none;
}
.footer {
  display: none;
}

/*
 * On customize un peu les scrollbars,
 * qu'elles soient moins intrusives et surtout
 * qu'elles soient les mêmes sous tous les navigateurs webkits
 */
::-webkit-scrollbar {
  width: 8px;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar-track {
  display: none; // affiche pas, pas gênant
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(100, 100, 100, 0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  display: none;
}
::-webkit-scrollbar-button {
  display: none; // on ne peut pas de boutons d'ascenseur
}

/*
 * Bloc collé en haut, 
 * recevant les messages à afficher
 */
.message_affection {
  float: left;
  position: absolute;
  top: 0;
  left: 30%;
  width: 40%;
  display: none;
  }

/*
 * Menu du haut
 */
.menu_calendar {
	width: 100%;
	position: relative;
	padding: 10px 0;
	border-bottom: 1px solid #666;
	margin: 0;
	height: @menuHeight - 41px;
	
	div {
	  height: 40px;
	  float: left;
	}
	
	.bouton_hide_menu {
	  position: absolute;
	  top: 0;
	  right: 20px;
	  height: 28px;
	  line-height: 28px;
	  padding: 0 8px;
	  background: #333;
	  color: #fff;
	  cursor: pointer;
	  border-radius: 0 0 5px 5px;
	}
}

/*
 * Client, wrapper des 3 colonnes
 */
.client {
  position: relative; // force un changement de référentiel (pour la colonne de droite surtout)
  height: @clientHeight;
  width: 100%;
  border-bottom: 3px solid #333;
}


/*
 * Vue agenda
 * au milieu de la fenêtre
 */
.calendar {
  float: left;
  width: 60%;
  height: 100%;
  .border-box();
	
	/* barre avec les dates */
	.titres {
    height: 30px;
    line-height: 30px;
    width: 100%;
    padding-left: 40px;
    padding-right: 8px; // pour récupérer l'espace pour la scrollbar de jours
    .border-box();
	  
    .titre_date {
      float: left;
      height: 100%;
      border-right: 1px solid #333;
      text-align: center;
      background: #BBB;
      overflow: hidden;
      .border-box();
      
      &:last-of-type {
        border-right: none;
      }
    } 
	}
  
  /* le bloc des jours, et aussi avec les heures */
  .jours {
    height: @joursHeight; // sera redimensionné on-the-fly
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 40px;
    position: relative; // replace le référentiel
    .border-box();
    
    /* barre des heures */
    .hours {
      float: left;
      position: absolute;
      left: 0;
      width: 40px;
      overflow: hidden;
      height: @heightHeure * 24 + 1;
      border-right: 1px solid #333; // pour une raison X, pas possible de mettre la bordure sur le 1er jour
      margin-bottom: 1px;
      .border-box();
      
      .hour {
        width: 100%;
        height: @heightHeure;
        line-height: @heightHeure;
        text-align: center;
        
        &:nth-of-type(even) {
          background: #BBB;
        }
        &:nth-of-type(odd) {
          background: #DDD;
        }
      }
    }
  
    /* chaque jour */
    .jour {
      height: @joursHeight;
      // width setté dynamiquement
      float: left;
      border-right: 1px solid #333;
      .border-box();
            
      /* heure */
      .heure {
        &:nth-of-type(odd) {
          background: rgba(0, 0, 0, 0.12);
        }
        &:nth-of-type(even) {
          background: rgba(0, 0, 0, 0.2);
        }
       
        /* quart d'heure */
        .quart_heure {
          width: 100%;
          height: @heightHeure / 4 - 1; // 1px de bordure
          
          // quart d'heure disponible, clair
          &.free {
            background: #fff;
          }
          // le quart d'heure sur lequel on vient de cliquer a un petit indicateur
          &.current {
            border-top: 1px solid red !important;
          }
          
          // l'ordre des bordures comptes, la plus épaisse dessus
          &:nth-of-type(2n+2) {
            border-top: 1px dashed #AAA;
          }
          &:nth-of-type(2n+1) {
            border-top: 1px solid #AAA;
          }
          &:first-of-type {
            border-top: 1px solid #333;
          }
          
          // un creneau, bloc venant au-dessus
          .creneau {
            // le background est setté en fonction de l'id de la tache
            font-weight: 600;
            opacity: 0.9;
            float: left;
            width: 100%;
            padding: 5px 0; // attention si la valeur est changée, aller répercuter dans CalendarView.js -> placeCreneau
            text-indent: 5px; // on contourne le fait qu'on ne puisse pas mettre de padding
            overflow: hidden;
          }
        }
      }
    }
  }
}
// le pop-up avec les détails d'un créneau
.creneau_details ul {
  list-style-type: none;
}

/*
 * Barres latérales
 */
.sidebar {
  width: 20%;
  height: 100%;
  .border-box();
  
  button {
    height: 30px;
    width: 30px;
  }
  
  .liste {
    width: 100%;
    height: 70%;
    overflow-x: hidden; // normalement il n'y en a pas
    overflow-y: auto;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    
    .item {
      border-top: 1px solid #888;
      border-bottom: 1px solid #888;
      width: 110%;
      padding: 5px;
      cursor: pointer;
      .border-box();
      
     &.current {
        background: #333;
        color: #fff;
      }
    }
  }
  
  .filtre {
    width: 100%;
    padding: 10px;
  }
}

/*
 * Barre latérale gauche
 * Avec la liste des orgas
 */
.sidebar_orga {
  float: left;
  border-right: 1px solid #003366;
  
  .boutons_orga {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    
    #bouton_refresh {
      margin-left: 35px;
    }
  }
  
  .liste_orgas {
    .orga {}
  }
  
  .filtre_orga {}
}

/*
 * Barre latérale droite
 * Avec la liste des tâches
 */
.sidebar_tache {
	float: right;
	position: absolute; // rajouter ces important pour bien se comporter lors du resize de la fenêtre
	right: 0 !important;
	left: auto !important;
	border-left: 1px solid #003366;
	overflow-y: scroll;
	.border-box();
	
  .liste_taches {
    .tache {}
  }
  
  .filtre_tache {}
}
