/*
 * Feuille de style spécifique à la vue Affectation
 */


/*
 * Override
 */
body {
	background: #fff;
}
.content {
	padding: 0;
	width: 100%;
}


/*
 * Barre latérale gauche
 * Avec la liste des orgas
 */
.sidebar_orga {
	float: left;
	width: 19%;
	height: 100%;
	border-right: 1px solid #003366;
	margin-right: 1%;
}


/*
 * Vue agenda
 * au milieu de la fenêtre
 */
.calendar {
	float: left;
	width: 60%;
	height: 991px;  /* peut être modifié par ailleurs - rajouter 30 pour le titre  - 1 pour la dernière bordure */
}

/* barre des heures */
.hours {
	float: left;
	width: 5%;
	max-width: 5%;
	overflow: hidden;
	height: 961px;
	margin-top: 30px;
}
.hour {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.hour:nth-of-type(even) {
	background: #BBB;
}
.hour:nth-of-type(odd) {
	background: #DDD;
}

/* chaque jour */
.jour {
	height: 100%;
	/* width setté dynamiquement */
	float: left;
	border-right: 1px solid #333;
}
.jour:first-of-type {
	border-left: 1px solid #333;
}
.titre_date, .titre_date_fixed {
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #BBB;
}
.titre_date {
	width: 100%;
}
.titre_date_fixed {
	position: fixed;
	opacity: 0.7;
}

/* heure */
.heure:nth-of-type(1) {
	margin-top: 30px;
}
.heure:nth-of-type(odd) {
	background: #f6f6f6;
}
.heure:last-of-type {
	border-bottom: 1px solid #333;	
}


/* quart d'heure */
.quart_heure {
	width: 100%;
	height: 9px; /* fait 10 avec la bordure */
}
/* l'ordre des bordures comptes, la plus épaisse dessus */
.quart_heure:nth-of-type(2n+2) {
	border-top: 1px dashed #AAA;
}
.quart_heure:nth-of-type(2n+1) {
	border-top: 1px solid #AAA;
}
.quart_heure:first-of-type {
	border-top: 1px solid #333;
}


/*
 * Barre latérale droite
 * Avec la liste des tâches
 */
.sidebar_tache {
	float: left;
	width: 19%;
	height: 100%;
	border-left: 1px solid #003366;
	margin-left: 1%;
}
