@media all {
	.hrow>div>div {
		float: left;
	}
	.hrow>div {
		clear: both;
		margin-bottom: .2em;
	}
	textarea{
	    width:100%;
	    word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
	}
}