button {
   border: none;
   padding: 5px 30px;
   border-radius: 4px;
   background: darkgray;
   color:white;
   font-weight: bold;
}

input,textarea {
	padding: 5px;
	border: none;
-moz-border-radius: 5px;
border-radius: 5px;
	text-shadow: 0px 1px 0px #fff;
}
input:focus {
	-webkit-box-shadow: 0px 0px 5px #007eff;
	-moz-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;
}
.form_row {
margin-bottom: .5em;
}
