@media all {

.creneau{
	width:100%;
    page-break-inside: avoid;
    page-break-before:auto;
    page-break-after: auto;
    margin-bottom:10pt;
    
}
.creneau > div{

    border-bottom:solid 1pt lightgray;

}

.horaires{
float:left;
}

.responsable{
float:right;
text-align:center;
}

.lieu{
float:right;
}
.infos{
overflow:auto;
}



}