@media all {

#phpm_bundle_inputdispostype > div{
	
	float:left;
	margin-right: 1em;
	
	
}

#submit_button{
	
	margin-top: 1em;
}
#phpm_bundle_inputdispostype > div:last-child{
	
	float:none;
	clear:both;
	
	
}
#phpm_bundle_inputdispostype{
	float: left;
	border-radius : 5px;
	background:#eaeaea;
	padding:.5em;
	margin-bottom: 1em;
}



}