/*
 * Stylesheet principale de PHPM
 */

/*
 * Elements generaux
 */
body {
	background: #eee;
	color: #000;
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 500;
}
a {
	text-decoration: underline;
}


/*
 * Header
 */
.header {
	width: 100%;
}
.title {
	width: 96%;
	background: #333;
	color: #eee;
	padding: 7px 2%;
}
.title h1 {
	padding: 0;
	margin: 0;
	font-size: 1.6em;
	font-family: Palatino Linotype;
	font-weight: 500;
	letter-spacing: 1px;
}

/* menu de navigation */
.menu {
	width: 96%;
	height: 30px;
	background: #ddd;
	font-size: 1.1em;
	margin: 0 0 40px 0;
	padding: 0 2%;
}
.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu li {
	display: inline;
	float: left;
	padding: 0 10px;
	height: 30px;
}
.menu li a {
	line-height: 30px;
	text-decoration: none;
	color: inherit;
}
.menu li:hover {
	background: #444;
	color: #fdfdfd;
}

/*
 * Messages
 */
.message {
	float: left;
	width: 80%;
	margin: -25px 10%;
	padding: 0;
	z-index: 500;
	position: fixed;
}
.success, .alert, .notification {
	padding: 20px 30px;
}
.success {
	background: rgba(51, 230, 51, 0.90);
	border: 1px solid rgb(0, 120, 0);
}
.alert {
	background: rgba(240, 180, 180, 0.90);
	border: 1px solid rgb(120, 0, 0);	
}
.notification {
	background: rgba(248, 248, 140, 0.95);
	border: 1px solid rgb(255, 255, 20);		
}


/*
 * Content
 */
.content {
	width: 94%;
	padding: 0 3%;
	text-align: justify;
}
.content h2 {
	width: 100%;
	border-bottom: 1px solid #000;
	margin-top: 0;
}

/*
 * Tableaux
 */

table {
	border-collapse:collapse;
}

th {
	background: #ddd;	
	border: thin solid black;
	margin: 0;
}

tr {
	background: #ddd;	
	margin: 0;
}

tr:hover{
	background: #d0d0d0;
	
}

td {
	font-family: sans-serif;
	border: thin solid black;
	text-align: center;
}


/*
 * Footer
 */
.footer {
	clear: both;
	margin-top: 50px;
	padding: 20px;
	border-top: 2px solid #555;
	background: #cacaca;
	text-align: center;
}
