/*
 * Stylesheet principale de PHPM
 */

/*
 * Eléments généraux
 */
body {
    padding: 40px 0;
}
h3 {
	clear: both;
}

/*
 * Utilitaires
 */
/*
 * Messages - déprécié ?
 */
.message {
  float: left;
  width: 80%;
  margin: 35px 10%;
  padding: 0;
  z-index: 500;
  position: fixed;
  display: none;
}
.success, .alert, .notification {
  padding: 20px 30px;
}
.success {
  background: rgba(51, 230, 51, 0.90);
  border: 1px solid rgb(0, 120, 0);
}
.alert {
  background: rgba(240, 180, 180, 0.90);
  border: 1px solid rgb(120, 0, 0); 
}
.notification {
  background: rgba(248, 248, 140, 0.95);
  border: 1px solid rgb(255, 255, 20);    
}

/* Divers */
.clear{
  clear: both;
}

/*
 * Auto complete du champ de recherche
 */
.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}

/*
 * Avertissement, affiché sur les formulaires
 */
.alert-message {
  color: red;
  font-weight: bold;
}
.alert-message ul {
  list-style-type: none;
}