@media all {


 #phpm_bundle_tachetype_entity_plagesHoraire > div > div > div{
	float:left;
}



 #phpm_bundle_tachetype_entity_plagesHoraire > div{
clear:both;
}

#phpm_bundle_tachetype_entity_consignes{
	height:10em;
}

#phpm_bundle_tachetype_entity_ageNecessaire{
	width: 3em;
}

.materiel_item{
text-align: center;
margin-right: 1em;
float:left;
}

.materiel_item > input{
width: 4em;

}

#phpm_bundle_tachetype , p {
clear:both;
}

}

div.com{
	clear:both;

	border: none;
-moz-border-radius: 5px;
border-radius: 5px;
	text-shadow: 0px 1px 0px #fff;
	background-color: #E0E0E0;
	margin-bottom: .5em;
	}

div.com_infos{
	float:left;
background-color: lightblue;
margin-right: .5em;
padding:.2em;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;	
	
	
}

span.com_auteur{
	float:left;
		font-weight: bold;
		padding-right:1em;
}

span.com_heure{
	float:left;
	font-weight: lighter;
	}
	
div.com_texte{
	padding:.2em;
	float:left;
	}






.statut0  {
	color:red !important; 
	
}

.statut1{
	color:darkorange !important;
	
}
.statut2{
	color:green !important;
	
}