{% extends "::base.html.twig"  %}

{% block title %}
	Recherche -> {{ searchString }}
{% endblock %}

{% block content %}

	{% if orgas %}
   		<h2>Orgas :</h2>
  	 	{% include 'PHPMBundle:Orga:afficheListe.html.twig' with {'entities': orgas} %}
   		<br />
	{% endif %}

	{% if taches %}
   		<h2>Taches :</h2>
   		{% include 'PHPMBundle:Tache:afficheListe.html.twig' with {'entities': taches} %}
	{% endif %}

{% endblock %}

{% block menu_action %}

{% endblock %}