{% extends "PHPMBundle:Search:layout.html.twig"  %}
{% set pageTitle = searchString %}


{% block content %}

	{% if orgas %}
   		<h2>Orgas :</h2>
  	 	{% include 'PHPMBundle:Orga:afficheListe.html.twig' with {'entities': orgas} %}
   		<br />
	{% endif %}

	{% if taches %}
   		<h2>Taches :</h2>
   		{% include 'PHPMBundle:Tache:afficheListe.html.twig' with {'entities': taches} %}
	{% endif %}
	
	{% if groupe_taches %}
   		<h2>Groupes de taches :</h2>
   		{% include 'PHPMBundle:GroupeTache:afficheListe.html.twig' with {'entities': groupe_taches} %}
	{% endif %}

{% endblock %}

{% block menu_action %}

{% endblock %}