{% extends "::base.html.twig"  %}

{% block title %}
	Recherche -> {{ searchString }}
{% endblock %}

{% block content %}

   <h2>Orgas :</h2>
   {% include 'PHPMBundle:Orga:afficheListe.html.twig' with {'entities': orgas} %}
   <br />
   <h2>Taches :</h2>
   {% include 'PHPMBundle:Tache:afficheListe.html.twig' with {'entities': taches} %}
{% endblock %}

{% block menu_action %}

{% endblock %}