<table class="table">
    <thead>
        <tr>
            <th>Montant</th>
            <th>Date</th>
            <th>Détail</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.amount |number_format(2) }}€</td>
            <td>{{ transaction.commitDate |format_date('dd MMM Y')}}</td>
            <td>{{ transaction.comment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
