body{
font-family:  sans-serif;

}


#footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
    
}

#header {
    margin-bottom: 1em;
    border-bottom: 1px solid black;
    text-align: center;
    
}

#content {
    
   float:left;
    
    
}

#sidebar {
    
   float:left;
   border: 1px solid black;
   padding: 1em;
   margin:1em;
    
    
}

.clear{
    
    
   clear: both;
}
